In [2]:
import pandas as pd
dataset = pd.DataFrame({
    'Sexo': ['H', 'M', 'M', 'M', 'M', 'H', 'H', 'H', 'M', 'M'],
    'Idade': [53, 72, 54, 27, 30, 40, 58, 32, 44, 51]
})
dataset

  Sexo  Idade
0    H     53
1    M     72
2    M     54
3    M     27
4    M     30
5    H     40
6    H     58
7    H     32
8    M     44
9    M     51

In [8]:
#Idade média
dataset.mean()

C:\Users\a879786\AppData\Local\Temp\ipykernel_9568\468100441.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dataset.mean()

Idade    46.1
dtype: float64

In [11]:
#Idade média por grupo
dataset.groupby(['Sexo']).mean()

          Idade
Sexo
H     45.750000
M     46.333333

In [13]:
#Idade média dos homens
dataset.groupby('Sexo').mean().loc['H']

Idade    45.75
Name: H, dtype: float64

In [14]:
#Idade média das mulheres
dataset.groupby('Sexo').mean().loc['M']

Idade    46.333333
Name: M, dtype: float64