# Questão 1

In [ ]:
import pandas as pd
dados = pd.DataFrame({'Profissão': [1, 2, 3, 1, 2, 2, 2, 3, 3, 2, 1, 3]})
dados

nome_profissoes = {1:'Estatístico', 2:'Cientista de Dados', 3:'Programador Python'}
nome_colunas = {'Frequência': frequencia, 'Porcentagem (%)': percentual}
frequencia = dados.value_counts()
percentual = dados.value_counts(normalize = True) * 100
dist_freq_qualitativas = pd.DataFrame(nome_colunas)
dist_freq_qualitativas.rename(index=nome_profissoes, inplace=True) #inplace=True sobrescreve o arquivo original, o que permite essa propriedade funcionar na linha seguinte.
dist_freq_qualitativas

# Questão 2

In [ ]:
import pandas as pd
dados = pd.read_csv('./dados.csv')
classes = [dados.Altura.min(), 1.65, 1.75, dados.Altura.max()]
labels = ['1 - Baixa', '2 - Média', '3 - Alta']

frequencia = pd.value_counts(
    pd.cut(
        x = dados.Altura,
        bins = classes,
        labels = labels,
        include_lowest = True
    )
)

percentual = pd.value_counts(
    pd.cut(
        x = dados.Altura,
        bins = classes,
        labels = labels,
        include_lowest = True
    ), normalize = True
) * 100

dist_freq_altura = pd.DataFrame(
    {'Frequência': frequencia, 'Porcentagem (%)': percentual}
)

dist_freq_altura.rename_axis('Estaturas', axis= 'columns', inplace = True)

dist_freq_altura.sort_index(ascending = True, inplace = True)

dist_freq_altura

# Questão 3

In [1]:
import pandas as pd
dataset = pd.DataFrame({
    'Sexo': ['H', 'M', 'M', 'M', 'M', 'H', 'H', 'H', 'M', 'M'],
    'Idade': [53, 72, 54, 27, 30, 40, 58, 32, 44, 51]
})
dataset

  Sexo  Idade
0    H     53
1    M     72
2    M     54
3    M     27
4    M     30
5    H     40
6    H     58
7    H     32
8    M     44
9    M     51

In [ ]:
#Idade média
dataset.mean()

In [ ]:
#Idade média por grupo
dataset.groupby(['Sexo']).mean()

In [ ]:
#Idade média dos homens
dataset.groupby('Sexo').mean().loc['H']

In [ ]:
#Idade média das mulheres
dataset.groupby('Sexo').mean().loc['M']

# Questão 4

In [ ]:
import pandas as pd
import seaborn as sns
dados = pd.read_csv('./dados.csv')
ax = sns.boxplot(x = 'Renda', y = 'UF', data = dados.query('(UF==35 or UF==29) and Renda < 10000'), orient = 'h')

ax.figure.set_size_inches(12, 6)
ax.set_title('Renda (R$) - Bahia X São Paulo', fontsize=18)
ax.set_xlabel('R$', fontsize=14)
ax

# Questão 5

In [2]:
import pandas as pd
df = pd.DataFrame(data = {'Fulano': [8, 10, 4, 8, 6, 10, 8],
                          'Sicrano': [7.5, 8, 7, 8, 8, 8.5, 7]}, 
                  index = ['Matemática', 
                           'Português', 
                           'Inglês', 
                           'Geografia', 
                           'História', 
                           'Física', 
                           'Química'])
df.rename_axis('Matérias', axis = 'columns', inplace = True)
df

Matérias    Fulano  Sicrano
Matemática       8      7.5
Português       10      8.0
Inglês           4      7.0
Geografia        8      8.0
História         6      8.0
Física          10      8.5
Química          8      7.0

In [ ]:
df.mad()

# Questão 6

In [3]:
import pandas as pd
dataset = pd.DataFrame({
    'Sexo': ['H', 'M', 'M', 'M', 'M', 'H', 'H', 'H', 'M', 'M'],
    'Idade': [53, 72, 54, 27, 30, 40, 58, 32, 44, 51]
})
dataset

  Sexo  Idade
0    H     53
1    M     72
2    M     54
3    M     27
4    M     30
5    H     40
6    H     58
7    H     32
8    M     44
9    M     51

In [4]:
#O valor do desvio padrão da variável Idade.
dataset['Idade'].std()

14.184890239656813

In [ ]:
#O valor do desvio padrão da variável Idade somente para as mulheres.
dataset.groupby(['Sexo']).std().loc['M']