In [3]:
import pandas as pd
dados = pd.DataFrame({'Profissão': [1, 2, 3, 1, 2, 2, 2, 3, 3, 2, 1, 3]})
dados

    Profissão
0           1
1           2
2           3
3           1
4           2
5           2
6           2
7           3
8           3
9           2
10          1
11          3

In [10]:
nome_profissoes = {1:'Estatístico', 2:'Cientista de Dados', 3:'Programador Python'}
nome_colunas = {'Frequência': frequencia, 'Porcentagem (%)': percentual}
frequencia = dados.value_counts()
percentual = dados.value_counts(normalize = True) * 100
dist_freq_qualitativas = pd.DataFrame(nome_colunas)
dist_freq_qualitativas.rename(index=nome_profissoes, inplace=True) #inplace=True sobrescreve o arquivo original, o que permite essa propriedade funcionar na linha seguinte.
dist_freq_qualitativas

                    Frequência  Porcentagem (%)
Profissão
Cientista de Dados           5        41.666667
Programador Python           4        33.333333
Estatístico                  3        25.000000